/* Estilos generales para el sitio */
.contenedor {
	width: 500px;
	height: 400px;
	margin: auto auto;
}

.contenedor #preview{
	width:450px; 
	height:300px; 
	background-color: #FFF;
	position: relative; 
	overflow: hidden; 
	margin: auto auto;
}
