/* Estilos generales para el sitio */
.contenedor {
	width: 500px;
	height: 400px;
	margin: auto auto;
}

.contenedor #p review{
	w idth:450px; 
	h eight:300px; 
	background-color: #FFF;
	position: relative; 
	overflow: hidden; 
	margin: auto auto;
}
